{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-underscore-dangle": "warn",
    "no-param-reassign": "off",
    "max-len": ["error", 150],
    "import/prefer-default-export": "off",
    "no-unused-expressions": "off"
  }
}